<%- include('../includes/header'); %>

<div class="container">
  <h2>Detail Menu</h2>
  <table>
    <tr>
      <td>Nama Menu</td>
      <td class="ps-4"><%= post.namaMenu %></td>
    </tr>
    <tr>
      <td>Stok</td>
      <td class="ps-4"><%= post.stok %></td>
    </tr>
    <tr>
      <td>Harga</td>
      <td class="ps-4"><%= post.harga %></td>
    </tr>
  </table>
</div>

<%- include('../includes/footer'); %>
