<%- include('../includes/header'); %>

<div class="container">
  <h2>Detail Menu</h2>
  <table>
    <tr>
      <td>Nama Menu</td>
      <td class="ps-4"><%= menu.namaMenu %></td>
    </tr>
    <tr>
      <td>Stok</td>
      <td class="ps-4"><%= menu.stok %></td>
    </tr>
    <tr>
      <td>Harga</td>
      <td class="ps-4"><%= menu.harga %></td>
    </tr>
  </table>
</div>

<%- include('../includes/footer'); %>
