<%- include('../includes/header'); %>

<div class="container">
  <h2>Detail Menu</h2>
  <img
    src="<%= menu.imageUrl %>"
    class="img-thumbnail w-25"
    alt="Foto <%= menu.nama %>"
  />
  <table>
    <tr>
      <td>Nama Menu</td>
      <td class="ps-4"><%= menu.nama %></td>
    </tr>
    <tr>
      <td>Stok</td>
      <td class="ps-4"><%= menu.stok %></td>
    </tr>
    <tr>
      <td>Harga</td>
      <td class="ps-4"><%= menu.harga %></td>
    </tr>
  </table>
</div>

<%- include('../includes/footer'); %>
