<%- include('../includes/header'); %>

<div class="container">
  <h2>Edit Menu</h2>

  <form action="/menus/<%= menu.id %>/update" method="POST">
    <div class="mb-3">
      <label for="nama" class="form-label">Nama Menu</label>
      <input
        type="text"
        class="form-control"
        id="nama"
        name="nama"
        value="<%= menu.nama %>"
      />
    </div>
    <div class="mb-3">
      <label for="imageUrl" class="form-label">Url Foto Makanan</label>
      <input
        type="text"
        class="form-control"
        id="imageUrl"
        name="imageUrl"
        value="<%= menu.imageUrl %>"
      />
    </div>
    <div class="mb-3">
      <label for="stok" class="form-label">Stok</label>
      <input
        type="number"
        class="form-control"
        id="stok"
        name="stok"
        value="<%= menu.stok  %>"
      />
    </div>

    <div class="mb-3">
      <label for="harga" class="form-label">Harga</label>
      <input
        type="number"
        class="form-control"
        id="harga"
        name="harga"
        value="<%= menu.harga %>"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include('../includes/footer'); %>
