<%- include('../includes/header'); %>

<div class="container">
  <h2 class="mb-4">All Menu</h2>

  <a href="/menus/create">
    <button class="btn btn-primary">Tambah Menu</button>
  </a>

  <table class="table mt-4">
    <thead class="table-primary text-center">
      <tr>
        <th>#</th>
        <th>Nama Menu</th>
        <th>Stok</th>
        <th>Harga</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% menus.forEach((menu, index) => { %>
      <tr>
        <td><%= ++index %></td>
        <td class="text-start"><%= menu.nama %></td>
        <td><%= menu.stok %></td>
        <td><%= menu.harga %></td>
        <td>
          <a class="btn btn-success" href="/menus/<%= menu.id %>" role="button"
            >Details</a
          >
          <a
            class="btn btn-primary mx-1"
            href="/menus/<%= menu.id %>/edit"
            role="button"
            >Edit</a
          >
          <a
            class="btn btn-danger"
            href="/menus/<%= menu.id %>/delete"
            role="button"
            >Delete</a
          >
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../includes/footer'); %>
